################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Channel Sample/FileContentIndex/99d1af39-8a7f-4a89-88ac-2f8dbf135cbb.vsidx
